mixin navLink(link, n)
    li
        a(
            href=link
            class={active: n === current}
        ) #{n}
navbar
    ul
        each val in pages
            +navLink(val.url, val.name)
