mixin navLink(link, name)
    li
        a(
            href=link
            class={active: name === current}
        ) #{name}

block navbar
    ul
        +navLink('./', 'Home')
        +navLink('./about.html', 'About')

    