mixin navLink(link, name)
    li
        a(
            href=link
            class={active: name === current}
        ) #{name}

block navbar
    ul
        +navLink('./index.html', 'Home')
        +navLink('./about.html', 'About')
        +navLink('./example.html', 'Example')

    