head
  title Title
  if bootstrap != 'None'
    link(rel="stylesheet", href=bootstrap)
  link(href="https://fonts.googleapis.com/css?family=Monoton", rel='stylesheet', type='text/css')
  link(rel='stylesheet', href='static/styles/main.css')