extends layouts/home

block content
  header#first(style="background-image: url('static/img/home.jpg')")
    include partials/_navbar
    div.header-content
      .inner
        h1 Welcome
        br
        br  
        h5 Made by
        h3 Juan Carlos Sánchez Guzmán
