extends shared/layout

block content
	h1 Welcome to the static site builder!
	p This tool helps in the creation of websites, it uses NodeJs as a backend with Express, and to work the frontend it works with Pug Template Engine.

	h2 Instructions

	p The views of the application are stores in the views folder, you will find there this index and an example of a blog website.
	
