extends shared/layout

block content
    h1 Mari es la mas linda de todas
    p lo digo yo que soy el mas lindo.
    p= variable
    iframe(width='560', height='315', src='https://www.youtube.com/embed/X6waHtSgCTc', frameborder='0', allow='autoplay; encrypted-media', allowfullscreen='')