h1 {
  color: black; }

p {
  color: black; }

ul {
  display: flex;
  justify-content: flex-end;
  list-style: none; }

li {
  padding: 1rem 1.5rem; }

a {
  text-decoration: none;
  font-size: 1.4rem;
  font-weight: 900;
  font-family: 'Helvetica Neue', Helvetica, arial, sans-serif;
  color: #4A6D72;
  border-bottom: solid 3px transparent; }
  a.active {
    color: #00BCD4;
    border-color: #00BCD4; }
